<a href="https://colab.research.google.com/github/herminiox/colab_curriculum/blob/main/curriculo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>
Olá, Como vai?
</h1>
<p>
Não sei como você chegou aqui, mas esse arquivo foi criado para ajudar a se apresentar de um jeito complementar e diferente, para quando tiver que entregar currículo. 
Lembre-se  que esse é só um jeito diferente, então pode ser melhorado. ;-)  
</p>


<h1> Olá, Seja Bem-vindo! <h2>
<p>Meu chamo Bruce Wayne e meu contatos são +55 61 99214 6666 e bat@gmail.com</p>
<p> Este complemento curricular tem o objetivo de passar maiores informações sobre mim e minha carreira profissional até:</p>

In [10]:
from datetime import datetime
now = datetime.now()
print(now)

2022-05-29 19:29:42.233109


Aqui você coloca um video seu(de 20 a 40 segundos). Sobe ele para Youtube e altera aqui. Se não estiver seguro da qualidade do seu currículo, aproveita e veja o video que deixei aqui. (não sou eu no video!)

<H1> Um pouco sobre mim...</h1>
<center>
  <a href="https://www.youtube.com/watch?v=0-9adyDGPz8" target="_blank">
  <img alt='Miniatura de um vídeo mostrando três recursos interessantes do Google Colab' src="https://i.ytimg.com/an_webp/1GoPY3KK3jw/mqdefault_6s.webp?du=3000&sqp=CMiIz5QG&rs=AOn4CLAaGHKglftNoUxH1evx8a3EH3Nx4Q">

Neste ponto suas informações acadêmicas, cursos ou treinamentos que estão em uma planilha no google docs de nome "cursos".

<h1> Informações laborais...</h1>

In [6]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()
gc = gspread.authorize(creds)
worksheet = gc.open('cursos').worksheet('sheet2')

rows = worksheet.get_all_values()
import pandas as pd
pd.DataFrame.from_records(rows)

,0,1,2,3,4
0,Empresa,Inicio,Fim,Função,Projetos
1,Justice League,14/07/2019,14/07/2021,Hero,Save World
2,Wayne Motors,13/07/2018,13/07/2019,CEO,Military Secretes Project
3,Wayne Coorp,12/07/2016,12/07/2017,Executive,Suport the Owners
4,Freelancer,12/02/2015,12/06/2016,Playboy,"Partys, Private Partys"

<h1> Informações acadêmicas e cursos... </h1>

Sei! já pensou se colocar mais dados...será que cabe um gráfico parar mostrar o seu historico?

In [1]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()
gc = gspread.authorize(creds)
worksheet = gc.open('cursos').sheet1

rows = worksheet.get_all_values()
import pandas as pd
pd.DataFrame.from_records(rows)

,0,1,2,3,4
0,curso,instituicao,tempo,medida,tipo
1,Ciência da Informação,UCB,5,anos,Gradução
2,Banco de dados,UCB,2,anos,Pos-Graduação
3,Certified Information System Auditor,Darius,80,horas,Presencial
4,Python for every bory,Michigan University,3,Semanas,On-line

In [40]:
rs = pd.DataFrame.from_records(rows)
th = 0

for ln in rs.itertuples(index="false", name="curso"):
    if ln[4] == "anos" :
      th = th +  int(ln[3])*252*8
    elif ln[4] == "meses" :
      th =th + int(ln[3])*21*8
    elif ln[4] == "Semanas" :
      th =th + int(ln[3])*7*8

print("TOTAL DE HORAS DE CURSOS: "+ str(th)+"hs.")

TOTAL DE HORAS DE CURSOS: 14280hs.

No trecho acima cabe um tratamento diferente , o que acha? (mãos a obra).